#wrapper{
    height: 100vh;
}
#top-header{
    height: 40px;
    display: flex;
    background-color: #364149;
    color: #fff;
    font-size: 0.8em;
    align-items: center;
}
#top-header .fas, #top-header span span{
    color: #808080;
}
#top-header .col{
    align-self: center;
}
.nav-wrapp{
    align-items: flex-end !important;
}
.btn-my-call{
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background-color: #5bc0de;
    padding: 10px 17px;
    color: #fff;
}
.nav-link{
    color: #364249;
    font-weight: 500;
}
footer{
    background-color: #f5f5f5;
    min-height: 40px;
    margin-top: -40px;
}
/* SLICK */
.slick-slide img {
    display: block;
    width: 100%;
}
/* END SLICK */
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }